@model DO_AN_APS_DOC_NET_MVC.ViewModels.ProductsViewModel
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

  

}
<!-- TODO: Banner -->
<div class="row">
    <img src="~/images/Banner/banner.jpg" alt="" width="100%">
</div>

<!-- TODO: Carousel Category-->
<div class="row">
    <div class="container mt-4 p-0">
        <h4 class="text-center p-3" style="color: #5ecfbc;">DANH MỤC SẢN PHẨM</h4>
        <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
            @foreach (var item in Model.Categories)
            {
                <div class="gallery-cell">
                    <a href="/products?view=@item.Id_Category"><img src="@item.Image_Cover" alt="Ảnh phân loại"></a>
                    <div class="carousel-caption text-center">
                        <h2>@item.Name</h2>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- TODO Sản phẩm mới -->
<div class="row">
    <div class="container mt-5 p-0">
        <h4 class="text-center text-uppercase p-3" style="color: #5ecfbc;">Sản phẩm mới</h4>
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-6 col-md-3">
                    <div class="elementProduct box_product">
                        <a href="/Products/Details/@product.Id_Product">
                            <img src="@product.Image_Front" alt="" class="image_product_cover" />
                        </a>
                        <div class="btn_view_product" style="height: 5px;"></div>
                        <div class="bg-info btn_view_product mb-1" style="height:3px;"></div>
                        <div class="text-nowrap text-uppercase text-center">
                            @Model.GetProductName(product.Id_Model) - @product.Color<br> <span class="font-weight-bold" style="color: black; font-size: 16px;">@Model.FormatPrice(Model.GetProductPrice(product.Id_Model)) ₫</span>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-12 text-center mb-5">
                <a href="/products/all?page=1" type="button" class="btn btn-deep-orange">XEM TẤT CẢ SẢN PHẨM</a>
            </div>
        </div>
    </div>
</div>
<!-- TODO Hiện thị sản phẩm theo từng danh mục -->
@foreach (var category in Model.Categories)
{
    <div class="row">
        <div class="container p-0">
            <h4 class="text-center text-uppercase p-3" style="color: #5ecfbc;">@category.Name</h4>
            <br />
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    if (product.Id_Category == category.Id_Category)
                    {
                        <div class="col-6 col-md-3">
                            <div class="elementProduct box_product">
                                <a href="/Products/Details/@product.Id_Product">
                                    <img src="@product.Image_Front" alt="" class="image_product_cover" />
                                </a>
                                <div class="btn_view_product" style="height: 5px;"></div>
                                <div class="bg-info btn_view_product mb-1" style="height:3px;"></div>
                                <div class="text-nowrap text-uppercase text-center">
                                    @Model.GetProductName(product.Id_Model) - @product.Color<br> <span class="font-weight-bold" style="color: black; font-size: 16px;">@Model.FormatPrice(Model.GetProductPrice(product.Id_Model)) ₫</span>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="col-sm-12 text-center mb-5">
                    <a href="/products?view=@category.Id_Category&page=1" type="button" class="btn btn-deep-orange text-uppercase">Xem thêm @category.Name</a>
                </div>
            </div>
        </div>
    </div>
}

