@model DO_AN_APS_DOC_NET_MVC.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}


<div class="container">
    <h2>Chi Tiết Đơn Hàng</h2>
    <div class="row mt-5">
        <div class="col-sm-4">
            <h5>Thông tin khách hàng:</h5>
            <br />
            <p>Tên khách hàng: @Model.GetCustomerName(Model.Order.Id_Customer)</p>
            <p>SDT: @Model.Order.PhoneNumber</p>
            <p>Ngày Đặt: @Model.Order.Date</p>
            <p>Địa Chỉ: @Model.Order.Address</p>
            <p>Lời Nhắn: @Model.Order.Message</p>
        </div>
        <div class="col-sm-8">
            <h5>Thông tin sản phẩm:</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ảnh Sản Phẩm</th>
                        <th>Chi Tiết Sản Phẩm</th>
                        <th>SL</th>
                        <th>Giá</th>
                        <th>Tổng</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int stt = 0; double total = 0; }
                    @foreach (var item in Model.Order_Details)
                    {
                        stt++;
                        total += Model.GetProductPrice(item.Product.Id_Model) * @item.Num;
                        <tr>
                            <td>@stt</td>
                            <td><img src="@item.Product.Image_Front" height="80" width="80" /></td>
                            <td>
                                <span>@Model.GetProductName(item.Product.Id_Model)</span>
                                <br />
                                <span>@item.Product.Color - @item.Product.Size</span>
                            </td>
                            <td>
                                @item.Num
                            </td>
                            <td>
                                @Model.FormatPrice(Model.GetProductPrice(item.Product.Id_Model)) ₫
                            </td>
                            <td>
                                @Model.FormatPrice(Model.GetProductPrice(item.Product.Id_Model) * @item.Num) ₫
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="text-center">
                <span>Tổng giá trị: <span class="font-weight-bold">@Model.FormatPrice(total) ₫</span></span>
            </div>
        </div>
        <div class="col-sm-12 mb-4">
            <hr />
            <a type="button" href="/Admin/OrderManager/ConfirmOrder/@Model.Order.Id_Order" class="btn btn-info">Xác nhận đơn hàng</a>
            <br /><br />
            <a href="/Admin/OrderManager/NewOrder">Quay lại danh sách</a>
        </div>
    </div>

</div>

