@model DO_AN_APS_DOC_NET_MVC.ViewModels.CartsViewModel
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-4 mb-5">
    <div class="container mt-5 p-0">
        <h4 class="text-center text-uppercase p-3" style="color: #5ecfbc;">Giỏ hàng của bạn</h4>
        <div class="row">
            <div class="col-sm-12 text-center">
                <span class="">Có <span class="font-weight-bold">@Model.Carts.Count() sản phẩm </span>trong giỏ hàng</span>
            </div>
            @if (Model.Carts.Count() > 0)
            {
                <div class="col-12 mt-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><b>#</b></th>
                                <th>Ảnh Sản Phẩm</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Size</th>
                                <th>Giá</th>
                                <th>Số Lượng</th>
                                <th class="text-center">Thao Tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int number = 1;}
                            @foreach (var item in Model.Carts)
                            {
                                <tr>
                                    <td>@number</td>
                                    <td><a href="/Products/Details/@item.Id_Product"><img src="@item.Product.Image_Front" height="80" width="80" /></a></td>
                                    <td>@Model.GetProductName(item.Product.Id_Model)</td>
                                    <td>@item.Product.Size</td>
                                    <td>@Model.FormatPrice(Model.GetProductPrice(item.Product.Id_Model)) ₫</td>
                                    <td>
                                        <div class="quantity-area">
                                            <input type="number" onchange="UpdateNum(@item.Id_Product)" id="@item.Id_Product" name="quantity" value="@item.Num" min="1" class="quantity-selector" style="height: 30px;">
                                            <br /><span class="text-success" id="noti_change_num_@item.Id_Product"></span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a href="/cart/delete?id_product=@item.Id_Product" type="button" class="text-primary"><i class="fas fa-trash-alt"></i> Xóa</a>
                                    </td>
                                </tr>
                                number++;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-12 text-center">
                    @{
                        double total = 0;
                        foreach (var i in Model.Carts)
                        {
                            total += Model.GetProductPrice(i.Product.Id_Model) * i.Num;
                        }
                    }
                    <span>Tổng thanh toán: <span class="font-weight-bold">@Model.FormatPrice(total) ₫</span></span>
                    <br />
                    <a href="/Order" type="button" class="btn btn-success mt-4">ĐẶT MUA ONLINE</a>
                </div>
            }
            else
            {
                <div class="col-12 text-center mt-3">
                    <a href="/" type="button" class="btn btn-success">Tiếp Tục Mua Hàng</a>
                </div>
            }

        </div>
    </div>
</div>

@section scripts
{

    <script>
        function UpdateNum(id_product) {
            //alert("Số lượng hiện tại: " + $("#" + id_product).val());
            $.post("/api/updatenum", {
                Id_Product: id_product,
                Num: $("#" + id_product).val()
            })
                .done(function () {
                    //alert("Đã cập nhật số lượng sản phẩm!");
                    $("#noti_change_num_" + id_product).fadeOut();
                    $("#noti_change_num_" + id_product).html("");
                    $("#noti_change_num_" + id_product).html("Đã cập nhật");
                    $("#noti_change_num_" + id_product).fadeIn();
                })
                .fail(function () {
                    alert("Something failed!");
                });
        }
    </script>

    <script>
        $(document).ready(function () {
            
        });
    </script>
}

