@model DO_AN_APS_DOC_NET_MVC.ViewModels.CartsViewModel
@{
    ViewBag.Title = "Đặt Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNet.Identity
<br />
<h5 class="text-center text-uppercase" style="color: #5ecfbc;">Đặt Hàng Trực Tuyến</h5>
<br />
<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Ảnh Sản Phẩm</th>
                            <th>Màu</th>
                            <th>Size</th>
                            <th>Số Lượng</th>
                            <th>Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int stt = 0;
                            double totalPrice = 0;
                            double shipCost = 15000;
                            double totalPay = 0;
                        }
                        @foreach (var item in Model.Carts)
                        {
                            stt++;
                            <tr>
                                <td>@stt</td>
                                <td><img src="@item.Product.Image_Front" alt="Ảnh sản phẩm" height="60" width="60"/></td>
                                <td>@item.Product.Color</td>
                                <td>@item.Product.Size</td>
                                <td>@item.Num</td>
                                <td>@Model.GetProductPrice(item.Product.Id_Model)</td>
                            </tr>
                            totalPrice += @Model.GetProductPrice(item.Product.Id_Model) * @item.Num;
                            totalPay = totalPrice + shipCost;
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 text-center">
                <hr />
                <div style="width: max-content; margin:auto;">
                    <span>Tạm tính: @totalPrice ₫</span>
                    <br />
                    <span>Phí vận chuyển: @shipCost ₫</span>
                    <hr />
                </div>
                <span>Tổng thanh toán: <span class="font-weight-bold"> @totalPay ₫</span></span>
            </div>
        </div>


    </div>
    <div class="col-sm-5">
        <h5>Thông tin khách hàng</h5>
        <p>Họ tên: @GetDisplayName(User.Identity.GetUserId())</p>
        <form action="/Order/Create" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="" name="phoneNumber" placeholder="Số điện thoại" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="" name="addressDetail" placeholder="Địa chỉ cụ thể (số nhà, tên đường)" required>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <select class="form-control" id="" name="district" required>
                                <option value="">Chọn quận</option>
                                <option>Quận 1</option>
                                <option>Quận 2</option>
                                <option>Quận 3</option>
                                <option>Quận 4</option>
                                <option>Quận 5</option>
                                <option>Quận 6</option>
                                <option>Quận 7</option>
                                <option>Quận 8</option>
                                <option>Quận 9</option>
                                <option>Quận 10</option>
                                <option>Quận 11</option>
                                <option>Quận 12</option>
                                <option>Bình Tân</option>
                                <option>Bình Thạnh</option>
                                <option>Gò Vấp</option>
                                <option>Phú Nhuận</option>
                                <option>Tân Bình</option>
                                <option>Tân Phú</option>
                                <option>Thủ Đức</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="form-group">
                            <select class="form-control" id="" name="ward" required>
                                <option value="">Chọn phường</option>
                                <option>Phường 1</option>
                                <option>Phường 2</option>
                                <option>Phường 3</option>
                                <option>Phường 4</option>
                                <option>Phường 5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="" name="message" placeholder="Lời nhắn cho shop (nếu có)"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">ĐẶT HÀNG</button>
            </div>
        </form>
    </div>
</div>
@{
    string GetDisplayName(string userId)
    {
        DO_AN_APS_DOC_NET_MVC.Models.ApplicationDbContext db = new DO_AN_APS_DOC_NET_MVC.Models.ApplicationDbContext();
        var displayName = db.Users.FirstOrDefault(i => i.Id == userId);
        return displayName.Name.ToString();
    }
}