@model DO_AN_APS_DOC_NET_MVC.Models.KingClothes.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Sửa Sản Phẩm</h2>
<br />

@using (Html.BeginForm("Edit", "ProductManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_Product)

    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                @Html.LabelFor(model => model.Image_Front, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    <img src="@Model.Image_Front" height="150" width="150"/>
                    <br /><br />
                    <input type="file" name="EditImageFront" accept="image/*" />
                </div>
            </div>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.Image_Back, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    <img src="@Model.Image_Back" height="150" width="150"/>
                    <br /><br />
                    <input type="file" name="EditImageBack" accept="image/*" />
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    <select class="form-control" id="" name="Size">
                        @{ string[] arrSize = { "S", "M", "L", "XL" }; }
                        @for (int i = 0; i < arrSize.Length; i++)
                        {
                            if (arrSize[i].Equals(Model.Size))
                            {
                                <option selected>@arrSize[i]</option>
                            }
                            else
                            {
                                <option>@arrSize[i]</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Num, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Num, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Num, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Category, "Danh Mục", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Category", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Id_Model, "Mẫu Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.DropDownList("Id_Model", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Id_Model, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu sản phẩm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="mb-4">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function () {
            $("#product_manager").addClass("active");
        });
</script>
}
