<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - King Clothes</title>
    @*<link rel="icon" href="images/logo.png" sizes="30x30">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


    @Styles.Render("~/Content/kingclothes_css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/kingclothes_js")

</head>
<body>
    <div class="container-fluid">
        <!-- TODO: Contact -->
        <div class="row bg-dark py-1 flex-center">
            <div class="col-sm-4 text-center text-white-50">
                <a href="mailto: kingclothes@gmail.com" class="text-white-50">kingclothes@gmail.com</a> |
                <a href="tel:033133233" class="text-white-50">Hotline: 033.133.233</a>
            </div>
            <div class="col-sm-4 text-center text-white-50">
                <a href="/" class="text-white-50">KINGCLOTHES.VN</a>
            </div>
            <div class="col-sm-4">
                <form action="/Search" method="GET" class="container-4">
                    <input type="search" id="search" name="search" placeholder="Tìm kiếm sản phẩm..." required />
                    <button class="icon"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <!-- TODO: Menu -->
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-md navbar-light shadow-none">
                    <a class="navbar-brand" href="/"><img src="~/images/logo.png" alt="" height="60"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="text-info" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> HOME</a>
                                &nbsp;&nbsp;&nbsp;
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle text-info" data-toggle="dropdown"><i class="fas fa-tshirt"></i> SẢN PHẨM</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="/products/all?page=1">Tất cả sản phẩm</a></li>
                                    @foreach (var item in LoadCategory())
                                    {
                                        <li class="dropdown-item"><a href="/products?view=@item.Id_Category&page=1">@item.Name</a></li>
                                    }

                                </ul>
                                &nbsp;&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                <a class="text-info" href="@Url.Action("CheckOrder", "Order")"><i class="fas fa-check-circle"></i> ĐƠN HÀNG</a>
                                &nbsp;&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                <a class="text-info" href="@Url.Action("Index", "Cart")"><i class="fas fa-shopping-cart"></i> GIỎ HÀNG</a>
                                &nbsp;&nbsp;&nbsp;
                            </li>

                        </ul>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                        @Html.Partial("_LoginPartial")
                    </div>
                </nav>
            </div>
        </div>
        @RenderBody()
    </div>

    <!-- TODO Footer -->
    <div class="container-fluid p-0 m-0" style="overflow:hidden;">
        <div class="row py-5" style="background-color: #232323;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="text-white text-left">🔥 Giới thiệu</h5>
                        <br />
                        <p class="text-white-50">King Clothes là shop thời trang...</p>
                        <img src="~/Images/logo.png" width="100%" height="250" style="border: solid 2px #0094ff;"/>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-white text-center">🔥 Thông tin liên hệ</h5>
                        <br />
                        <p class="text-white-50"><i class="fas fa-map-marker-alt"></i> Phường Tân Phú, Quận 9, TP.HCM</p>
                        <p class="text-white-50"><i class="fas fa-envelope"></i> <a href="mailto: kingclothes@gmail.com" class="text-white-50">kingclothes@gmail.com</a></p>
                        <p class="text-white-50"><i class="fas fa-phone-square"></i> <a href="tel:033133233" class="text-white-50">033.133.233</a></p>

                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-white text-right">🔥 Thông tin địa điểm</h5>
                        <br />
                        <p class="text-white-50">Vị trí trên Google Map</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4276421675927!2d106.78318431432112!3d10.85504269226818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527c3debb5aad%3A0x5fb58956eb4194d0!2zxJDhuqFpIEjhu41jIEh1dGVjaCBLaHUgRQ!5e0!3m2!1svi!2s!4v1627367207781!5m2!1svi!2s" width="100%" height="250px" style="border: solid 2px #0094ff;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 60px; line-height: 60px; overflow:hidden; background-color: #000000; ">
            <div class="col-sm-12" >
                <p class="text-white-50 text-center">&copy; @DateTime.Now.Year - King Clothes</p>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    @using System.Data.Entity
    @{ 
        List<DO_AN_APS_DOC_NET_MVC.Models.Category> LoadCategory()
        {
            DO_AN_APS_DOC_NET_MVC.Models.ApplicationDbContext db = new DO_AN_APS_DOC_NET_MVC.Models.ApplicationDbContext();
            var categories = db.Categories.ToList();
            return categories;
        }
    }


</body>
</html>
