<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - King Clothes</title>
    @*<link rel="icon" href="images/logo.png" sizes="30x30">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


    @Styles.Render("~/Content/kingclothes_css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/kingclothes_js")

</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark flex-center">
            <div class="col-sm-4">
                <a href="/admin" class="text-white-50 text-uppercase">&nbsp;&nbsp;<i class="fas fa-user-cog"></i> administrators</a>
                <span class="text-white-50"></span>
            </div>
            <div class="col-sm-4 text-center text-white-50">
                <a href="/" class="text-white-50">KINGCLOTHES.VN</a>
            </div>
            <div class="col-sm-4">
                <div class="float-right">
                    <nav class="navbar navbar-expand-md navbar-light shadow-none">
                        @Html.Partial("_LoginPartial_Admin")
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 shadow pt-3">
                <div class="text-center">
                    <a class="" href="/"><img src="~/images/logo.png" alt="" height="80"></a>
                </div>
                
                <ul class="nav nav-pills flex-column mt-3 mb-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Payment" id="payment">Thanh Toán</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/OrderManager/NewOrder" id="new_order">Đơn Hàng Mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Payment/Waiting" id="wait_payment">Chờ Thanh Toán</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/CategoryManager" id="category_manager">Quản Lý Danh Mục</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/ProductModelManager" id="product_model_manager">Quản Lý Mẫu Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/ProductManager" id="product_manager">Quản Lý Sản Phẩm</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 pt-5">
                @RenderBody()
            </div>
        </div>

    </div>

    <!-- TODO Footer -->
    <div class="container-fluid p-0 m-0" style="overflow:hidden;">
        <div class="row py-5" style="background-color: #232323;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="text-white text-left">🔥 Giới thiệu</h5>
                        <br />
                        <p class="text-white-50">King Clothes là shop thời trang...</p>
                        <img src="~/Images/logo.png" width="100%" height="250" style="border: solid 2px #0094ff;" />
                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-white text-center">🔥 Thông tin liên hệ</h5>
                        <br />
                        <p class="text-white-50"><i class="fas fa-map-marker-alt"></i> Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                        <p class="text-white-50"><i class="fas fa-envelope"></i> <a href="mailto: kingclothes@gmail.com" class="text-white-50">kingclothes@gmail.com</a></p>
                        <p class="text-white-50"><i class="fas fa-phone-square"></i> <a href="tel:033133233" class="text-white-50">033.133.233</a></p>

                    </div>
                    <div class="col-sm-4">
                        <h5 class="text-white text-right">🔥 Thông tin địa điểm</h5>
                        <br />
                        <p class="text-white-50">Vị trí trên Google Map</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4276421675927!2d106.78318431432112!3d10.85504269226818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527c3debb5aad%3A0x5fb58956eb4194d0!2zxJDhuqFpIEjhu41jIEh1dGVjaCBLaHUgRQ!5e0!3m2!1svi!2s!4v1627367207781!5m2!1svi!2s" width="100%" height="250px" style="border: solid 2px #0094ff;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 60px; line-height: 60px; overflow:hidden; background-color: #000000; ">
            <div class="col-sm-12">
                <p class="text-white-50 text-center">&copy; @DateTime.Now.Year - King Clothes</p>
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
