<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - King Clothes</title>
    @*<link rel="icon" href="images/logo.png" sizes="30x30">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


    @Styles.Render("~/Content/kingclothes_css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/kingclothes_js")

</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark flex-center">
            <div class="col-sm-4">
                <a href="/admin" class="text-white-50 text-uppercase">&nbsp;&nbsp;<i class="fas fa-user-cog"></i> administrators</a>
                <span class="text-white-50"></span>
            </div>
            <div class="col-sm-4 text-center text-white-50">
                <a href="/" class="text-white-50">KINGCLOTHES.VN</a>
            </div>
            <div class="col-sm-4">
                <div class="float-right">
                    <nav class="navbar navbar-expand-md navbar-light shadow-none">
                        @Html.Partial("_LoginPartial_Admin")
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 shadow pt-3">
                <div class="text-center">
                    <a class="" href="/"><img src="~/images/logo.png" alt="" height="80"></a>
                </div>
                
                <ul class="nav nav-pills flex-column mt-3 mb-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Payment" id="payment">Thanh Toán</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Payment/Waiting" id="wait_payment">Chờ Thanh Toán</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/OrderManager/NewOrder" id="new_order">Đơn Hàng Mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/CategoryManager" id="category_manager">Quản Lý Danh Mục</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/ProductModelManager" id="product_model_manager">Quản Lý Mẫu Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/ProductManager" id="product_manager">Quản Lý Sản Phẩm</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 pt-5">
                @RenderBody()
            </div>
        </div>

    </div>

    <!-- TODO Footer -->
    <div class="container-fluid p-0">
        <div class="jumbotron text-center bg-light shadow-none" style="margin-bottom:0">
            <p>&copy; @DateTime.Now.Year - King Clothes</p>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
