@model DO_AN_APS_DOC_NET_MVC.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 text-center">
        <br />
        <h4 class="p-3" style="color: #5ecfbc;">CHI TIẾT SẢN PHẨM</h4>
        <br />
    </div>

    <div class="col-sm-6">
        <div class="carousel js-flickity">
            <div class="carousel-cell">
                <img src="@Model.ProductDetail.Image_Front" data-imagezoom="true" alt="Ảnh mặt trước" height="100%" width="100%"/>
            </div>
            <div class="carousel-cell">
                <img src="@Model.ProductDetail.Image_Back" data-imagezoom="true" alt="Ảnh mặt sau" height="100%" width="100%" />
            </div>
        </div>
    </div>


    <div class="col-sm-6">
        <div style="width: max-content;" class="text-uppercase">
            <p>@Model.GetProductName(Model.ProductDetail.Id_Model) - @Model.ProductDetail.Color</p>
            <hr>
        </div>

        <div style="width: max-content;">
            <p>@Model.GetProductPrice(Model.ProductDetail.Id_Model) ₫</p>
            <hr>
        </div>

        <div style="width: max-content;">
            <span>SIZE:</span>
            &nbsp;&nbsp;
            @foreach (var item in Model.GetSize(Model.ProductDetail.Id_Product))
            {
                <input type="radio" name="Size" id="Size_@item" value="@item" checked />
                <label for="Size_@item"> @item&nbsp;&nbsp;</label>
            }
            @*&nbsp;&nbsp;
        <input type="radio" name="Size" id="Size_S" value="S" checked/>
        <label for="Size_S"> S</label>
        &nbsp;&nbsp;
        <input type="radio" name="Size" id="Size_M" value="M" />
        <label for="Size_M"> M</label>
        &nbsp;&nbsp;
        <input type="radio" name="Size" id="Size_L" value="L" />
        <label for="Size_L"> L</label>*@
            <hr>
        </div>

        <div class="quantity-area">
            <span>SỐ LƯỢNG:</span>
            <input type="button" value="-" onclick="minusQuantity()" class="qty-btn btn-left-quantity">
            <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
            <input type="button" value="+" onclick="plusQuantity()" class="qty-btn btn-right-quantity">
            <button data-model-id="@Model.ProductDetail.Id_Model" data-product-color="@Model.ProductDetail.Color" id="add_to_cart" class="btn btn-info"><i class="fas fa-cart-plus"></i> THÊM VÀO GIỎ HÀNG</button>
        </div>
        <hr>
        <p>MÔ TẢ: @Model.GetProductDescribe(Model.ProductDetail.Id_Model)</p>

    </div>
</div>
<br />

@* TODO: Sản phẩm liên quan *@
<div class="row">
    <div class="container mt-5 p-0">
        <h4 class="text-center text-uppercase p-3" style="color: #5ecfbc;">SẢN PHẨM LIÊN QUAN</h4>
        <div class="row">

            @foreach (var product in Model.Products)
            {
                <div class="col-6 col-md-3">
                    <div class="elementProduct my-1 box_product">
                        <img src="@product.Image_Front" alt="">
                        <div class="text-center text-nowrap bg-info py-1 btn_view_product">
                            @Html.ActionLink("XEM NGAY", "Details", "Products", new { id = product.Id_Product }, new { @class = "text-white text-decoration-none" })
                        </div>
                        <div class="text-nowrap text-uppercase text-center">
                           @Model.GetProductName(product.Id_Model) <br> <span style="color: black; font-size: 16px;">@Model.GetProductPrice(product.Id_Model) ₫</span>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-12 text-center mb-4">
                <a href="/products?view=@Model.ProductDetail.Id_Category" type="button" class="btn btn-deep-orange">XEM THÊM @Model.ProductDetail.Category.Name</a>
                @*<hr />*@
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        function plusQuantity() {
            $("#quantity").val(parseInt($("#quantity").val()) + 1);
        }
        function minusQuantity() {
            if (parseInt($("#quantity").val()) > 1) {
                $("#quantity").val(parseInt($("#quantity").val()) - 1);
            }
        }
    </script>

    @* Thêm vào giỏ hàng *@
    <script>
        $("#add_to_cart").click(function (e) {
            var button = $(e.target);
            //alert("Size: " + $('input[name=Size]:checked').val() + "\nColor: " + button.attr('data-product-color') + "\nId_Model: " + button.attr('data-model-id'));
            $.post("/api/addtocart", {
                Id_Model: button.attr("data-model-id"),
                Color_Product: button.attr("data-product-color"),
                Size_Product: $('input[name=Size]:checked').val(),
                Num: $("#quantity").val()
            })
                .done(function (data) {
                    alert(data);
                    //alert("Thêm vào giỏ hàng thành công!");
                })
                .fail(function () {
                    alert("Something failed!");
                });
        });
    </script>

}
