@model PagedList.IPagedList<DO_AN_APS_DOC_NET_MVC.Models.KingClothes.Product>
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string GetProductName(int id_model)
    {
        DO_AN_APS_DOC_NET_MVC.Models.ApplicationDbContext db = new DO_AN_APS_DOC_NET_MVC.Models.ApplicationDbContext();
        DO_AN_APS_DOC_NET_MVC.Models.KingClothes.Product_Model product_Model = db.Product_Models.Find(id_model);
        return product_Model.Name;
    }
    double GetProductPrice(int id_model)
    {
        DO_AN_APS_DOC_NET_MVC.Models.ApplicationDbContext db = new DO_AN_APS_DOC_NET_MVC.Models.ApplicationDbContext();
        DO_AN_APS_DOC_NET_MVC.Models.KingClothes.Product_Model product_Model = db.Product_Models.Find(id_model);
        return product_Model.Price;
    }
    // Format Price
    string FormatPrice(double price)
    {
        string strPrice = price.ToString();
        string result = "";
        List<char> listChar = new List<char>();
        int point = 1;
        for (int i = strPrice.Length - 1; i >= 0; i--)
        {
            if (point == 4)
            {
                point = 1;
                listChar.Add('.');
            }
            listChar.Add(strPrice[i]);
            point++;
        }
        for (int i = listChar.Count - 1; i >= 0; i--)
        {
            result += listChar[i];
        }
        return result;
    }
}

@* Main Content *@
<div class="row">
    <div class="container mt-5 p-0">
        <h4 class="text-center text-uppercase p-3" style="color: #5ecfbc;">@ViewBag.Title</h4>
        <br />
        <div class="row" id="list-product">
            @foreach (var product in Model)
            {
                <div class="col-6 col-md-3 mt-4">
                    <div class="elementProduct box_product">
                        @if (product.Product_Model.Sale > 0)
                        {
                            <div class="lable_sale">
                                <span class="px-1"> - @product.Product_Model.Sale %</span>
                            </div>
                        }
                        <a href="/Products/Details/@product.Id_Product">
                            <img src="@product.Image_Front" alt="" class="image_product_cover" />
                        </a>
                        <div class="btn_view_product" style="height: 5px;"></div>
                        <div class="bg-info btn_view_product mb-1" style="height:3px;"></div>
                        <div class="text-nowrap text-uppercase text-center">
                            <span class="product_category">@product.Category.Name</span>
                            <br />
                            <span class="product-name">@GetProductName(product.Id_Model)</span>
                            <span> - </span>
                            <span class="product_color">@product.Color</span>
                            <br>
                            @if (product.Product_Model.Sale > 0)
                            {
                                <span class="price-marketing" style="color: black; text-decoration: line-through; font-size: 16px;">@FormatPrice(GetProductPrice(product.Id_Model)) ₫</span>
                            }
                            <span class="product-price font-weight-bold" style="color: black; font-size: 16px;">@FormatPrice(GetProductPrice(product.Id_Model) - GetProductPrice(product.Id_Model) * product.Product_Model.Sale/100) ₫</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@* Phân Trang *@
<div class="row">
    <div class="container">
        <ul class="pagination">
            @{ int page = Convert.ToInt32(ViewBag.Page);}
            @if (page > 1)
            {
                <li class="page-item"><a class="page-link" href="@ViewBag.UrlPagePrevious">Previous</a></li>
            }
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == page)
                {
                    <li class="page-item active"><a class="page-link" href="@ViewBag.UrlPageSelect@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="@ViewBag.UrlPageSelect@i">@i</a></li>
                }
            }
            @if (page != Model.PageCount)
            {
                <li class="page-item"><a class="page-link" href="@ViewBag.UrlPageNext">Next</a></li>
            }

        </ul>
    </div>
</div>

